@import url("https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
@import "tailwindcss";

.font-inria {
  font-family: "Inria Sans", sans-serif;
}

/* Infinite scroll animation */
@keyframes scrollX {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scrollX {
  animation: scrollX 25s linear infinite;
}

.animate-scrollX:hover {
  animation-play-state: paused;
}
